
/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-size: 1em;
    width: 100%;
    background-color:#dbe9e9 ;
    color: #1f2b3f;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

strong {
    font-weight: bold;
}

h1, h2 {
font-weight: bold;
overflow: hidden;
}

main {
    margin-top: 20vh;
}

/* top fixed navbar */

.header { 
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    width:100%;
    min-height: 5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.445);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.445);
    z-index: 2;
}


/* offset for menu anchors */

.offset {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

/* offset for first link, 
going to the top because id=# doesn't works 
in the scrolling JS script */

.offset-first { 
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

/* nav bar */

.menu-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 1em;
    justify-content: space-between;
}

.menu-bar img {
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;
}

/* toggle desktop navbar */

.menu {
    display:none;
}

/* logo animation */

.logo {
    transition: 500ms ease-in-out;
}

img.logo:hover {
    transform: rotate(45deg);
}

/* Dark Background Sections */

.dark-box {
    background-color: #1f2b3f;
    background: linear-gradient(to right,#1f2b3f,#2a3a55);
    color: #dbe9e9;
}

/* Boxes with shadow */

.card {
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.445);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.445);
}

/* Styling Containers */

.section-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.7rem;
    margin: 2rem 1rem;
    z-index: 1;
}

.section-container a {
    color:#62c4c7;
    text-decoration: none;
    font-weight: bold;
}

.section-container a:hover {
    text-shadow: 0px 20px 25px #dbe9e9;
    color:#76eaee;
}

/* Title Styling */

.section-title {
    font-size: 3.8rem;
    font-weight: bolder;
    padding-bottom: 1rem;
    letter-spacing: -0.3rem;
    transition: letter-spacing 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Some differences for the first title*/

.section-first-title {
    font-size: 3.2rem;
    font-weight: lighter;
    z-index: 1;
    letter-spacing: -0.3rem;
    transition: letter-spacing 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Hover title effect on sections */

.section-container:hover .section-title {
    letter-spacing: -0.2rem;
}
.section-container:hover .section-first-title {
    letter-spacing: -0.2rem;
}
.contact:hover .section-title {
    letter-spacing: -0.2rem;
}

/* contact section with different styling */

.contact {
    box-sizing: border-box;
    padding: 2.5rem;
    transition: letter-spacing 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* form styling */

.form-row {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"], 
.form-row input[type="email"] {
    background-color: #dbe9e9;
    border-radius: 0.3rem;
    border: 1px solid #101724;
    padding: 0.3rem;
}

.form-row label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-row textarea {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    resize: none;
    background-color: #dbe9e9;
    border-radius: 0.3rem;
    border: 1px solid #101724;
    min-height: 12rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
}

.form-row button {
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    font-weight: bold;
    background-color: #6287c7;
    color: #dbe9e9;
    border: 1px solid #101724;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.192);
    width: 50%;
    transition: 200ms ease-in;
}

.form-row button:hover {
    background-color: #33548b ;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.253);
    transform: translateY(-3px);
}

.form-row button:active {
    background-color: #62c4c7;
    color: #1f2b3f;
    box-shadow: 2px 2px 10px inset rgba(0, 0, 0, 0.253);
}

/* About Me Photo Styling */

.about-me-photo {
    display: flex;
    justify-content: flex-end;
}

.about-me-photo img {
    max-width: 20rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

/* Footer styling */

footer {
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
}

.social-buttons {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 1rem 0;
    
}

.social-buttons a {
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social-buttons a:hover {
    transform: scale(1.2);
}

.copyright {
    width:100%;
    text-align: center;
    margin-top: 1rem;
}

.about-me-photo {
    display: flex;
    justify-content: flex-end;
}

.about-me-photo img {
    max-width: 20rem;
    margin-right: 2rem;
}

/** === putting bg under Bio text === **/

.photobg {
    z-index: 0;
}

.photobg::before {
    content: "";
    background-image: url('images/chris1.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
    opacity: 30%;
    z-index: -1;
}

/* Skills Style */

.skills-container {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;;
}


.skills-box {
    display: flex;
    width:100%;
    flex-direction: column;
    margin: 1rem auto;
}

.skills-box h2 {
    display: block;
    text-align:center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.skills-chart {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

/** Mobile Menu Styling **/

#menu-mobile-toggle {
    display: none;
}

.menu-mobile {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;    
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-mobile a {
    text-decoration: none;
    color:#dbe9e9;
  }
  
.menu-mobile > li {
    margin: 0 2rem;
  }
  
.menu-mobile-button-container {
    display: flex;
    margin: 1em;
    width: 2rem;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
  }
  
.menu-mobile-button,
.menu-mobile-button::before,
.menu-mobile-button::after {
    display: block;
    background-color: #dbe9e9;
    position: absolute;
    height: 0.2rem;
    width: 2rem;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
.menu-mobile-button::before {
    content: '';
    margin-top: -8px;
  }
  
.menu-mobile-button::after {
    content: '';
    margin-top: 8px;
  }
  
#menu-mobile-toggle:checked + .menu-mobile-button-container .menu-mobile-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
#menu-mobile-toggle:checked + .menu-mobile-button-container .menu-mobile-button {
    background: rgba(255, 255, 255, 0);
  }
  
#menu-mobile-toggle:checked + .menu-mobile-button-container .menu-mobile-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

#menu-mobile-toggle ~ .menu-mobile li {
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

#menu-mobile-toggle:checked ~ .menu-mobile li {
    font-size: 1rem;
    font-weight: bold;
    height: 3em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

.menu-mobile > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #dbe9e9;
    background-color: #1f2b3f;
    background: linear-gradient(to right,#1f2b3f,#2a3a55);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  }

/* ======== Media Query for Tablet or landscape ======== */

@media only screen and (min-width: 550px) and (max-width: 889px) {

    .menu-bar, .section-container, .contact, .about-me-photo {
            width: 80vw;
            margin: 0 auto;
        }
    .section-container {
            margin-top: 2em;
        }
    .section-container p {
            max-width: 50vw;
        }
    .skills-container {
            flex-direction: row;
        }
        
    .photobg::before {
            left: 45%
        }
    .social-buttons {
            width: 50%;
            margin: 0 auto;
        }
    .contact {
        padding: 3rem 1.7rem;
    }    

}

/* ========= Media Query for Desktop ========== */

@media only screen and (min-width: 890px) {

.menu-bar, .section-container, .contact, .about-me-photo {
        width: 60vw;
        margin: 0 auto;
      }
    
.section-container {
          margin-top: 2em;
      }

.section-container p {
        max-width: 40vw;
    }

    
.contact {
        padding: 3rem 1.7rem;
      }

.form-row button {
    width: 15vw;
}

.skills-container {
    flex-direction: row;
}

.photobg::before {
    left: 60%
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding-top: 2.5rem;
}

.menu-link {
    font-size: 1rem;
    padding: 0 1rem;
    transition: 500ms ease-in-out;
}

.menu-link:hover {
    transform: translateY(-4%);
}

.menu-link a {
    color:#dbe9e9;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    transition: 500ms ease-in-out;
    white-space: nowrap;
}

.menu-link a:hover {
    color:#76eaee;
}

.social-buttons {
    width: 30%;
    margin: 0 auto;
}

.two-lines {
    display: none;
}

/** Mobile Menu Toggle**/
  
  .menu-mobile-button-container {
    display: none;
  }
  
  #menu-mobile-toggle {
    display: none;
  }

  .menu-mobile {
      display:none;
  }
}